.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}

th {
  text-align: left;
}

.errors {
  color: red;
}

.nav li {
  list-style-type: none;
  display: inline;
  float: right; 
}

.decks {
  list-style-type: none;
}

#stats th {
  width: 120px;
}
