.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  /*border: 1px dotted black;*/
}

th {
  text-align: left;
}

.errors li{
  list-style-type: none;
  color: red;
}

.nav li{
  list-style-type: none;
  /*display: inline;*/
  float: right;
  margin-right: 20px;
}

.nav li a{
  text-decoration: none;
}

.decks {
  list-style-type: none;
}

.profile, th, td{
  white-space: nowrap;
  padding: 5px 15px 5px 2px;
  text-align: left;
}

.profile_foot{
  border-top: 1px solid black;
}

.login{
  text-align: center; 
}

.register a{
  /*text-align: center;*/
  margin-right: 20px;
  text-decoration: none;
}

.login_fields{
  /*border: 2px solid #dadada;
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;*/
  
  outline:none;
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  /*border-radius:3px;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;*/
  border:1px solid rgba(0,0,0, 0.2);
  margin-bottom: 15px;
}

.login_fields:focus {
  box-shadow: 0 0 5px rgba(0, 0, 255, 1);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 255, 1); 
  -moz-box-shadow: 0 0 5px rgba(0, 0, 255, 1);
  border:1px solid rgba(0,0,255, 0.8); 
}
