<h2 class='decks'>Select Game</h2>
<table class='decks'>
  <tr>  
  <% @deck.each do |deck| %>
    <th><%= deck.name %></th>
   <% end %>
  </tr>
  <tr>
  <% @deck.each do |deck| %>
  <td ><a href="/deck/<%= deck.id %>"><img src="<%= deck.cards.first.question %>"></a></td>
  <% end %>
  </tr> 
</table>