<h1>Welcome to Web-Flashcards!</h1>

<form action="/home" method="GET">
<div>
  <label for="email">Email: </label>
  <input id="email" type="text" name="user[email]" value="<%= @user.try(:email) %>">
</div>

