<h1>Welcome to Web-Flashcards!</h1>

<form action="/home" method="POST">
<div>
  <label for="email">Email: </label>
  <input id="email" type="text" name="user[email]" placeholder="Email Required">
</div>
<div>
  <label for="password">Password: </label>
  <input id="password" type="password" name="user[password]" placeholder="Enter Password">
</div>
<div>
  <input class="login" type="submit" value="Login Existing User">
</div>
</form>

<div>
  <a href="/sign_up">Create New User</a>
</div>
<div class='errors'>
  <% if @errors %>
    <% @errors.each do |error, message| %>
      <ol>
        <li><%= error %> <%= message %></li>
      </ol>
    <% end %>
  <% end %>
</div>
