<h1 class='login'>Flashcards</h1>

<form class='login' action="/home" method="POST">
<div>
  <label for="email">Email*</label>
</div>
<div>
  <input class='login_fields' id="email" type="email" name="user[email]" placeholder="Email Required">
</div>
<div>
  <label for="password">Password*</label>
</div>
<div>
  <input class='login_fields' id="password" type="password" name="user[password]" placeholder="Enter Password">
</div>
<div>
  <input class='login_button' type="submit" value="Login Existing User">
</div>
</form>

