<h2 class='summary'> Round Summary </h2>

<table class='summary'>
  <tr>
    <td>Deck Played:</td>
    <td><%= @round.deck.name %></td>
  </tr>
  <tr>
    <td>Answered Correctly:</td>
    <td><%= @round.guesses.where(correct: true).count %></td>
  </tr>
  <tr>
    <td>Percentage Correct:</td>
    <td><%= (@round.guesses.where(correct: true).count.to_f)/(@round.guesses.size) * 100 %>%</td>
  </tr>
</table>
<br>
<div class='summary'>
  <a href="/deck/<%= @round.deck_id %>">Play Again</a>
</div>
<br>
<div class='summary'>
  <a href="/home">Different Game</a>
</div>
